@if(isAddingTask) {
<app-new-task
  (cancel)="onCancelTaskCreation()"
  (create)="onCreateTask($event)"
/>
}

<section id="tasks">
  @if(selectedUser()) {
  <header>
    <h2>{{ selectedUser()?.name }}'s tasks list</h2>
    <menu>
      <button (click)="onAddTask()">Add Task</button>
    </menu>
  </header>
  <ul>
    @for (task of selectedUserTasks; track $index) {
    <li>
      <app-task [task]="task" (complete)="onCompleteTask($event)" />
    </li>
    } @empty {
    <li>No tasks found.</li>
    }
  </ul>
  } @else {
  <h2>Select a user to view their tasks</h2>
  }
</section>
